@import "base/variables";
@import "base/reset";
@import "base/mixins";


body {
	background: black;
	font-family: 'Press Start 2P', cursive, sans-serif;
	text-transform: uppercase;
}

.screen {
	background: white;
	margin: 5em auto;
	max-width: 36em;
	position: relative;
}

.screen p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.stand-out {
	text-transform: uppercase;
}

.sup {
	vertical-align: super;
}

.fainted {
	opacity:0;
  	transition: opacity 0.25s linear;
}

.invisible {
	opacity:0;
  	transition: opacity 1s linear;
}

.enemy-section,
.player-section {
	padding: 0.5em 2em;
	overflow: hidden;
}

.stats {
	width: 45%;
}

.sprite {
	font-size: 8em;
	display: block;
}

.level, .hp-text {
	margin-left: 3em;
	letter-spacing: -0.1875em;
}

.level, .hp {
	font-size: 0.75em;
	padding-left: 0.5em;
}

.hp {	
	border-bottom: 0.3125em solid black;
	padding-bottom: 0.5em;
}

.hp-title {
	width: 25%;
}

.hp-bar {
	width: 75%;	
	height: 0.87em;
	display: inline-block;
	border: 0.1em solid black;
	border-radius: 0.5em;	
	vertical-align: top;
}

.hp-remaining {
	height: 0.74em;
	width: 100%;
	background: #585858;	
	border-radius: 0.5em;
}

#dialog-menu,
#dialog-answer-options
 {
	display: none;
}

/* Message Section */

#message {	
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
	background: black;
	width: 80%;
	height: 50%;
	color: white;
	border: 0.3125em double white;
	text-align: center;
	padding: 10% 5% 10% 5%;
	line-height: 2em;
}

/* Enemy Section */

.enemy-section .hp {
	border-left: 0.4375em solid black;
	border-bottom-left-radius: 0.4375em;
}

#enemy-stats {	
	float: left;
}

#enemy-sprite {
	float: right;
	margin-right: 0.5em;
}


/* Player Section */

.player-section .hp {
	border-right: 0.4375em solid black;
	border-bottom-right-radius: 0.4375em;
}

#player-stats {	
	float: right;
}

#player-sprite {
	float: left;
	margin-left: 0.5em;
}

@import "sections/dialog";


.attribution {
	color: white;
	font-size: 0.65em;
	margin: 0 auto 1em auto;
	max-width: 36em;
	line-height: 1.65em;
	padding-left: 1em;
	padding-right: 1em;

	a {
		text-decoration: none;
	}
}

/* Media Queries */
@media only screen and (max-width: 600px) {
	.screen {
		margin: 3em auto;
	}

	#enemy-sprite {
		margin-right: 0.25em;
	}

	#player-sprite {
		margin-left: 0.25em;
	}

	#dialog-menu {
		padding: 1em 0 0 1em;
	}
}

@media only screen and (max-width: 550px) { 
	#enemy-stats,
	#player-stats {
		width: 60%;
	}	

	#dialog-menu li {
		display: block;
	}
}

@media only screen and (max-width: 450px) { 
	body {
		font-size: 0.9em;
	}

	.level, .hp {
		font-size: 0.75em;
		padding-left: 0.5em;
	}

	.sprite {
		font-size: 6.5em;
	}

	#dialog-text {
		min-height: 6.5em;
	}
}

@media only screen and (max-width: 400px) {
	.enemy-section,
	.player-section {
		padding: 0.5em 0.5em;
	}

	.sprite {
		font-size: 6em;
	}

	#enemy-stats,
	#player-stats {
		width: 65%;
	}

	#enemy-sprite,
	#player-sprite {
		width: 30%;
	}

	#enemy-sprite {
		margin-right: 0;
	}

	#player-sprite {
		margin-left: 0;
	}
	
	#dialog-text, 
	#dialog-menu,
	#dialog-answer-options,
	#message {		
		font-size: 0.8em;
	}

	#dialog-text {
		min-height: 6em;
	}
}

@media only screen and (max-width: 300px) {
	.sprite {
		font-size: 5em;
	}
}